# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\yasar\OneDrive\Documents\CMGT\MINOR\LEIDEN\New\django_app_it_help_desk\bweb1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
