<!-- index.html -->
{% load static %}
<html>
<head>
<script>
    window.onload = function () {
        var chart = new CanvasJS.Chart("chartContainer", {
          animationEnabled: true,
          exportEnabled: true,
         
          title:{
            text: "Gold Reserves",
            fontFamily: "Tahoma"
          },
          axisY: {
            title: "Gold Reserves (in tonnes)"
          },
           axisY: {
            title: "Gold Reserves (in tonnes)",
            interval: 1
          },
          data: [{
            type: "column",
            
            dataPoints: {{ datapoints|safe }}
          }]
        });
        chart.render();
    }
</script>    
</head>
<body>
    <div id="chartContainer" style="width: 100%; height: 360px;"></div>
    <script src="{% static 'js/canvasjs.min.js' %}"></script>
</body>
</html>             